
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Here you'l find blogs I've written with short summarys of lessons that i learned in the course work, and refrence guides to refer to, and further solidfy my understanding.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4> Topics </h4>
    <%  @side_bar_topics.each do |topic| %>
    <p> <%= link_to topic.title, topic_path(topic) %> </p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>

<!--<aside class="col-sm-3 ml-sm-auto blog-sidebar">-->


<!--<i class="fa fa-github" aria-hidden="true"></i>-->

