
<div class="text-white transd jumbotron jumbotron-fluid">
  
  <h1 class="display-4"></h1>
  <p class="lead"></p>
  <hr class="my-4">
        <hr class="my-4">

    </p>
    
        <h1>Strong Communication</h1>
    <p>
    We create every website to work beautiflly with any device. Carefully crafted to be easy to use and navigate.
    </p>
        <%= image_tag "arrows5t.png", width:1000, alt:"profile image", class: "cent" %>   
        
    <h1>Responsive Design</h1>
    <p>
    We create every website to work beautiflly with any device. Carefully crafted to be easy to use and navigate.
    </p>
        <%= image_tag "arrows2t.png", width:1000, alt:"profile image", class: "cent" %>   

    <h1>Search Engine Optimization</h1>
        <p>
    We work with you on a budget that gets you seen, and gets you buisnesss! 
    </p>
    <%= image_tag "arrows1t.png", width:1000, alt:"profile image", class: "cent" %>

     <h1>Logo Creation</h1>
    <p>
    We create every website to work beautiflly with any device. Carefully crafted to be easy to use and navigate.
    </p>
    <%= image_tag "arrows3t.png", width:1000, alt:"profile image", class: "cent" %>   
      <h1>Print Media</h1>
    <p>
    We create every website to work beautiflly with any device. Carefully crafted to be easy to use and navigate.
    </p>
    <%= image_tag "arrows4t.png", width:1000, alt:"profile image", class: "cent" %>   

  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-outline-warning btn-lg" href="#" role="button">Learn more</a>
</div>
